.about-page .about-header{
    padding: 30px;
    background-image: url(about.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .about-page .about-header h1{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: white;
  }
  
  .about-page .about-header p{
    font-size: 25px;
    text-align: center;
    font-family: sans-serif;
    padding: 15px;
    color: white;
  }
  
  .about-story h2{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    color: black;
    padding-top: 50px;
    text-decoration: underline;
  }
  
  .about-story .grid1{
    display: flex;
    padding: 5px;
  }
  
  .about-story .grid1 img{
    width: 400px;
    height: 400px;
    border-radius: 50%;
  }
  
  .about-story .grid1 p{
    font-size: 30px;
    padding-top: 90px;
    align-items: center;
    text-align: center;
    padding-left: 70px;
  }
  
  .about-offerings h2{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    color: black;
    padding-top: 50px;
    text-decoration: underline;
  }
  
  .about-offerings .grid1{
    display: flex;
    padding: 5px;
  } 
  
  .about-offerings .grid1 img{
    width: 400px;
    height: 400px;
    border-radius: 50%;
  }
  
  .about-offerings .grid1 ul li{
    font-size: 25px;
    padding-top: 30px;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-align: start;
    padding-left: 70px;
  }
  .about-offerings .grid1 ul
  {
    padding-top: 50px;
  }
  
  .about-commitment h2{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    color: black;
    padding-top: 50px;
    text-decoration: underline;
  }
  
  .about-commitment .grid1{
    display: flex;
    padding: 5px;
  } 
  
  .about-commitment .grid1 img{
    width: 400px;
    height: 400px;
    border-radius: 50%;
  }
  
  .about-commitment .grid1 ul li{
    font-size: 25px;
    padding-top: 30px;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-align: start;
    padding-left: 70px;
  }
  .about-commitments .grid1 ul
  {
    padding-top: 50px;
  }

  @media(max-width:768px){
      
      .about-page .about-header p{
        font-size: 20px;
      }
      
      .about-story .grid1 img{
        width: 300px;
        height: 300px;
      }
      
      .about-story .grid1 p{
        font-size: 20px;
        padding-top: 60px;
        padding-left: 50px;
      }
      .about-offerings .grid1 img{
        width: 300px;
        height: 300px;
      }
      
      .about-offerings .grid1 ul li{
        font-size: 20px;
        padding-top: 10px;
        padding-left: 50px;
      }
      .about-offerings .grid1 ul
      {
        padding-top: 30px;
      }
      
      .about-commitment .grid1 img{
        width: 300px;
        height: 300px;
      }
      
      .about-commitment .grid1 ul li{
        font-size: 20px;
        padding-top: 25px;
        padding-left: 50px;
      }
      .about-commitments .grid1 ul
      {
        padding-top: 30px;
      }
  }

  @media(max-width:426px){
    .about-page .about-header{
        padding: 20px;
      }
      
      .about-page .about-header h1{
        font-size: 25px;
      }
      
      .about-page .about-header p{
        font-size: 15px;
        color: black;
      }
      
      .about-story h2{
        font-size: 25px;
        padding-top: 30px;
      }
      
      .about-story .grid1{
        display: block;
        padding: 10px;
        padding-left: 100px;
      }
      
      .about-story .grid1 img{
        width: 200px;
        height: 200px;
        border-radius: 50%;
      }
      
      .about-story .grid1 p{
        font-size: 20px;
        padding-top: 30px;
        align-items: center;
        text-align: start;
        padding-left: 5px;
      }
      
      .about-offerings h2{
        font-size: 25px;
        padding-top: 30px;
      }
      
      .about-offerings .grid1{
        display: block;
        padding: 10px;
        padding-left: 100px;
      } 
      
      .about-offerings .grid1 img{
        width: 200px;
        height: 200px;
        border-radius: 50%;
      }
      
      .about-offerings .grid1 ul li{
        font-size: 20px;
        padding-top: 10px;
        padding-left: 10px;
      }
      .about-offerings .grid1 ul
      {
        padding-top: 30px;
      }
      
      .about-commitment h2{
        font-size: 25px;
        padding-top: 30px;
      }
      
      .about-commitment .grid1{
        display: block;
        padding: 10px;
        padding-left: 100px;
      } 
      
      .about-commitment .grid1 img{
        width: 200px;
        height: 200px;
        border-radius: 50%;
      }
      
      .about-commitment .grid1 ul li{
        font-size: 20px;
        padding-top: 10px;
        padding-left: 10px;
      }
      .about-commitments .grid1 ul
      {
        padding-top: 30px;
      }
    
  }

  @media(max-width:320px){
    .about-page .about-header{
        padding: 10px;
      }
      .about-story .grid1{
        padding-left: 50px;
      }
      
      
      .about-offerings .grid1{
        padding-left: 50px;
      } 
      
      
      .about-commitment .grid1{
    
        padding-left: 50px;
      } 
  }