*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}

.navbar{
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 70px; 
  border: 1px solid rgb(243, 231, 231);
  font-family: Moderustic;
}


.navbar div a{
 text-decoration: none;
 color: black;
 font-size: 40px;
 font-weight: bold;
 font-style: initial;
}

.navbar .logo img{
  width: 150px;
  height: 70px;
}
.navbar ul{
  display: flex;     
  justify-content: center;
  align-items: center;
}

.navbar ul li{
  list-style-type: none;
  align-items: center; 
  display: inline-block ;   
}

.navbar ul li a{
  text-decoration: none;
  margin: 70px;
  font-size: 25px;
  font-weight: bold;
  color: black;       
}

/* ----------------------------------mobile small nav ------------------------------------ */
#smallnav{
  display: none;
  justify-content: space-between;
  position: sticky;
  top: 0px;
  background-color: white;
}

#smallnav .logo1 img{
  width: 90px;
  height: 50px;
}
#smallnav article div label i{
  font-size: 20px;
  border: 1px solid black;
  padding: 5px;
  transition: .6s;
}

#shownav{
  height: 50vh;
  width: 150px;
  background-color: white;
  position: absolute;
  top: 0px;
  left: -400px; 
  z-index:2; 
}

#shownav ul{
  margin: 20px;
  align-items: center;
}

#shownav ul li{
  padding: 5px;
  padding-top: 20px;
}

#shownav ul li a{
  padding: 5px;
  color: black;
  font-size: 20px;
  font-weight: bold;
}


@media(max-width:426px){
  .navbar{
      display: none;
  }
  #smallnav{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 50px 10px 50px;
  }

  #smallnav article div i{
      font-size: 20px;
      border: 2px solid black;
      border-radius: 5px;
      padding: 10px;
  }

  #input1:checked ~ #shownav{
      left: 0px;
      transition: left 2s;
  }
}



@media(max-width:1024px){  
   .navbar ul li a{
     margin: 40px;
     font-size: 20px;
   }   
}

@media(max-width:768px){
  .navbar .bar a i{
      display: block;
  }
  .navbar ul{
      display: flex;    
  }
  .navbar ul li a{
    margin: 20px;
    font-size: 15px;
  }   
  .navbar .logo img{
    width: 100px;
    height: 50px;
  }
}


footer .flogo img{
  width: 150px;
  height: 70px;
}
footer{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: white; 
  width: 100%;
  height: 30vh;
  border: 1px solid grey;
}

footer .address div a{
text-decoration: none;
color: black;
font-size: 20px;
}

footer .follow div{
text-decoration: none;
color: black;
font-size: 20px;
}

footer .address div{
  font-size: 20px;
}

footer .flogo{
  font-size: 30px;
  font-weight: bold;
  font-family: moderustic;
}



@media(max-width:768px){
footer article img{
  width: 100px;
  height: 100px;
}

}

@media(max-width:426px){
  footer .flogo img{
    width: 90px;
    height: 40px;
  }
  
  footer .address div a{
  font-size: 13px;
  }
  
  footer .follow div{
  font-size: 13px;
  }
  
  footer .address div{
    font-size: 10px;
  }
}

@media(max-width:375px){
  footer .flogo img{
    width: 70px;
    height: 30px;
  }
  
  footer .address div a{
  font-size: 10px;
  }
  
  footer .follow div{
  font-size: 10px;
  }
  
  footer .address div{
    font-size: 8px;
  }
}







