  .header1{
    height: 80vh !important;
    align-items: center;
    justify-content: center !important;
  }
  .header1{
    min-height: 100vh;
    width: 100%;
    background-image: url(bg.avif);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
    position: relative;
  }
  
  .hcontainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding-top: 130px;
    padding-left: 400px;
    width: 1100px;
  }
  
  .hcontainer h1{
    font-size: 42px;
    color: white;
    line-height: 40px;
  }
  
  .hcontainer small{
    color: black;
    font-size: 20px;
  }
  
  .hcontainer form{
    padding: 5px 45px;
    background-color: white;
    border-radius: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .hcontainer form .headinp{
    width: 100%;
    display: flex;
    flex-direction: column; 
    gap: 5px; 
    padding: 0 10px; 
  }
  
  .hcontainer form .headinp:nth-child(2){
        border-right: 0.2px solid black;
        border-left: 0.2px solid black;
    }
  
  .hcontainer .headinp label{
    font-size: 15px;
  }
  .hcontainer .headinp input{
    height: 20px;
    border: none;
    outline: none;
    color: rgb(16, 16, 36);
  }
  
  .hcontainer button{
    background-color:white !important;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 15px 10px;
    margin-left: 30px;
    border-radius: 60px;
    cursor: pointer;
    color: black;
    transition: .6s;
    border: none;
  }
  .hcontainer button:hover{
    background-color: black !important;
    color: white;
  }
  
  .navbar .phonenav{
    display: none;
  }
  
  @media(max-width:1024px){
    .hcontainer{
        gap: 20px;
        padding-top: 150px;
        padding-left: 250px;
        width: 830px;
     }
  }
  @media(max-width:768px){
    .hcontainer{
        padding-top: 130px;
        padding-left: 100px;
        width: 650px;
     }
  }
  @media(max-width:426px){
     .hcontainer form{
        flex-direction: column;
        border-radius: 12px;
        margin-top: 20px;
        padding: 15px 25px;
        background-color: white;
        border-radius: 60px;
        width: 100%;
     }
     .hcontainer button{
        width: 100%;
        justify-content: center;
     }
     .hcontainer form .headinp:nth-child(2){
        border: none;
    }
    .hcontainer{
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        padding-top: 80px;
        padding-left: 75px;
        width: 350px;
     }
     .hcontainer h1{
        font-size: 25px;
        line-height: 20px;
     }
    
     .hcontainer small{
        font-size: 15px;
     }
  
  }
  
  @media(max-width:426px){
  
    .hcontainer form{
       margin-top: 20px;
       padding: 10px 20px;
       border-radius: 40px;
    }
   .hcontainer{
       gap: 10px;
       padding-top: 80px;
       padding-left: 45px;
       width: 300px;
    }
    .hcontainer h1{
       font-size: 20px;
       line-height: 15px;
    }
   
    .hcontainer small{
       font-size: 15px;
    }
  
  }

  .section_heading{
    display: flex;
    justify-content: space-between;
  }
  
  .grid{
    display: grid;
    grid-template-columns: auto;
  }
  .grid .card{
    display: flex;
    margin: 20px;
    padding: 10px 80px;
  }
  .grid .card img{
    width: 400px;
    height: 400px;
  }
  
  
  .card-body{
    display: block;
    margin: 50px;
  }
  .card-body h5{
    font-size: 40px;
    color: black;
    text-align: center;
  }
  .card-body p{
    font-size: 20px;
    color: black;
    text-align: center;
    font-family: sans-serif;
    margin-bottom: 30px;
    margin-top: 30px;
  }
  .card-body a{
    font-size: 20px;
    color: black;
    text-align: center;
    border: 1px solid grey;
    text-decoration: none;
    font-weight: 500;
    border-radius: 60px;
    padding: 5px;
    margin-left: 350px;
    
  }
  .grid .card .card-body .price-btn{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 5px;
  }
  .price{
    display: block;
    line-height: 25px;
  }
  .price-btn button{
    font-size: 20px;
    background-color: white;
    font-weight: bold;
    border: 1px solid gray;
    padding: 0 10px;
    border-radius: 10px;
  }
  .price-btn button:hover{
    color: white;
    background-color: rgb(86, 86, 237);
  }
  
  @media(max-width:1024px){
    .grid .card{
      margin: 5px;
      padding: 5px 40px;
    }
    
    .card-body{
      display: block;
      margin: 20px;
    }
  
    .card-body h5{
      font-size: 40px;
    }
    .card-body p{
      font-size: 18px;
    }
  }
  
  @media(max-width:768px){
    .grid .card{
      margin: 5px;
      padding: 5px 60px;
    }
    .grid .card img{
      width: 250px;
      height: 250px;
    }
    
    .card-body{
      margin: 10px;
    }
    .card-body h5{
      font-size: 30px;
    }
    .card-body p{
      font-size: 15px;
      margin-bottom: 5px;
      margin-top: 10px;
    }
    
    .grid .card .card-body .price-btn{
      margin: 10px;
    }
    .price{
      line-height: 20px;
    }
    .price-btn button{
      font-size: 15px;
      padding: 0 5px;
      border-radius: 10px;
    }
  }
  
  @media(max-width:426px){
    .grid .card{
      display: block;
      margin: 5px;
      padding: 5px 50px;
    }
    .grid .card img{
      width: 300px;
      height: 300px;
    }
    
    .card-body{
      display: block;
      margin: 20px;
    }
    .card-body h5{
      font-size: 30px;
    }
    .card-body p{
      font-size: 15px;
      margin-bottom: 10px;
      margin-top: 10px;
    }
    .grid .card .card-body .price-btn{
      margin: 15px;
      padding: 5px;
    }
    .price{
      display: block;
      line-height: 20px;
    }
    .price-btn button{
      font-size: 15px;
      padding: 0 5px;
    }
    .price h3{
      font-size: 18px;
    }
    
  }
  
  @media(max-width:426px){
    .grid .card{
      margin: 0px;
      padding: 5px 18px;
    }
   
  }